@font-face {
    font-family: Inter;
    src: url("./src/assets/font/Inter-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url("./src/assets/font/Inter-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("./src/assets/font/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("./src/assets/font/Inter-Thin.ttf");
    font-weight: 300;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}